&lt;div class=&quot;social-share&quot;&gt;
	&lt;ul class=&quot;social-share-list&quot;&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;twitter&quot;&gt;
				&lt;div class=&quot;img-wrap float&quot;&gt;
					&lt;i class=&quot;fa fa-twitter&quot;&gt;&lt;/i&gt;
				&lt;/div&gt;
				&lt;div class=&quot;text-wrap&quot;&gt;
					&lt;p&gt;Join Mayor @ericgarcetti as we make history and sign #RaisetheWageLA into law this Saturday http://www.lamayor.org/signing_ceremony &hellip;&lt;/p&gt;
				&lt;/div&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;facebook&quot;&gt;
				&lt;div class=&quot;img-wrap&quot; &gt;
				&lt;i class=&quot;fa fa-facebook&quot;&gt;&lt;/i&gt;
				&lt;/div&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;instagram&quot;&gt;
				&lt;div class=&quot;img-wrap&quot; &gt; 
				&lt;i class=&quot;fa fa-instagram&quot;&gt;&lt;/i&gt;
				&lt;/div&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;linkedin&quot;&gt;
				&lt;div class=&quot;img-wrap&quot; &gt;
				&lt;i class=&quot;fa fa-linkedin&quot;&gt;&lt;/i&gt;
				&lt;/div&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;youtube&quot;&gt;
				&lt;div class=&quot;img-wrap&quot;&gt;
				&lt;i class=&quot;fa fa-youtube&quot;&gt;&lt;/i&gt;
				&lt;/div&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;sharethis&quot;&gt;
				&lt;div class=&quot;img-wrap&quot; &gt;
				&lt;i class=&quot;fa fa-share-alt&quot;&gt;&lt;/i&gt;
				&lt;/div&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;feedback&quot;&gt;
				&lt;div class=&quot;img-wrap&quot; &gt;
				&lt;img src=&quot;../../images/feedback_icon.png&quot;&gt;
				&lt;/div&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;rss&quot;&gt;
				&lt;div class=&quot;img-wrap&quot; &gt;
				&lt;i class=&quot;fa fa-rss&quot;&gt;&lt;/i&gt;
				&lt;/div&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;