&lt;section class=&quot;comments section&quot;&gt;
	&lt;div class=&quot;comments-container&quot; id=&quot;comments-container&quot;&gt;
		&lt;h2 class=&quot;section-title&quot;&gt;59 Comments&lt;/h2&gt;
		{{&gt; molecules-comment-form }} 
		&lt;ul class=&quot;comment-list&quot;&gt;
			{{# listItems.five }}
				{{&gt; molecules-single-comment }} 
			{{/ listItems.five }}
		&lt;/ul&gt;
	&lt;/div&gt;
	{{&gt; molecules-pager }} 
&lt;/section&gt;